.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.btn-subscribe {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 15px;
}
