.app-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.body-container {
  width: 85%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.btn-filter {
  background-color: #31343e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.margin-0 {
  margin: 0;
}

.red {
  color: #fb2c48;
}
